{% extends "layout/basic.html" %}
{% load bootstrap4 %}
{% block title %}Settings {% endblock %}
{% block content %}
     {% bootstrap_javascript jquery='slim' %}




  <div>
    <div class="w-container">
      <div class="div-block-button-settings"><a href="{% url "main:profile" %}" target="_blank" class="button-settings-none w-button">Профиль</a><a href="{% url "main:profile_change" %}" class="button-settings-active w-button">Настройки аккаунта</a><a href="{% url "main:password_change" %}" class="button-settings-none w-button">Изменить пароль</a></div>
<div id="content_profile">
      <div class="form-block w-form">
        <form action="{% url "main:profile_change" %}" method="post">
            {% csrf_token %}
          <h1 class="heading-2">Настройки аккаунта</h1>
            <label for="name-4" class="field-label">Логин</label>
            <input type="text" class="text-field w-input" maxlength="256" name="username"  placeholder="Введите логин" value="{{ user.username }}">

            <label for="name-4" class="field-label">Email</label>
            <input type="email" class="text-field w-input" maxlength="256" name="email"  placeholder="Введите имя" value="{{ user.email }}" >

            <label for="email-3" class="field-label">Имя</label>
            <input type="text" class="text-field w-input" maxlength="256" name="first_name"  placeholder="Введите имя"  required=""  value="{{ user.first_name }}">
            <label for="email-3" class="field-label">Фамилия</label>
            <input type="text" class="text-field w-input" maxlength="256" name="last_name"  placeholder="Введите фамилию" value="{{ user.last_name }}" >
            <label class="w-checkbox checkbox-field"><div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox "></div>
                <input type="checkbox" id="checkbox-2" name="send_messages" {% if send_messages  %}checked{% else %}{% endif %} style="opacity:0;position:absolute;z-index:-1"><span class="checkbox-label w-form-label">Отправлять уведомления</span></label>
            <a href="{% url "main:profile_delete" %}" class="link-3">Удалить аккаунт</a>
          <div class="div-block-12"><input type="submit" value="Сохранить" data-wait="Please wait..." data-w-id="e40bfc2c-d536-5b26-fee2-1f5a9527bea2" class="submit-button-for-send w-button"></div>
        </form>
      </div>
    </div>
    </div>
  </div>




<!--
<form method="post">


{% csrf_token %}
{% bootstrap_form form layout='horizontal' %}
{% buttons submit='Save' %}{% endbuttons %}

</form> -->
{% endblock %}