{% extends "layout/basic.html" %}
{% load bootstrap4 %}
{% block title %}Confirm password{% endblock %}
{% block content %}
<h2>Confirm password{{ user.username}} </h2>










  <div>
    <div class="w-container">
      <div class="form-block w-form">
        <form action="{% url "main:password_reset_confirm" %}" method="post">
          <h1 class="heading-2">Введите пароль</h1>
          <div>Введите свой новый пароль для Вашей учетной записи</div>
            <label for="name" class="field-label">Пароль</label>
            <input type="password1" maxlength="256" name="password1" data-name="Name" placeholder="Введите пароль" id="password1" class="text-field w-input">

             <label for="name" class="field-label">Повторите пароль</label>
            <input type="password2" maxlength="256" name="password2" data-name="Name" placeholder="Повторите пароль" id="password2" class="text-field w-input">

            <div class="div-block-12"><input type="submit" value="Подтвердить" data-wait="Please wait..." data-w-id="93ba45cc-8df1-80ad-13bc-78d16447c170" class="submit-button-for-send w-button"></div>
        </form>
      </div>
    </div>
  </div>








<form method="post">


{% csrf_token %}
{% bootstrap_form form layout='horizontal' %}
{% buttons submit='Save' %}{% endbuttons %}

</form>
{% endblock %}