{% extends "layout/basic.html" %}
{% load bootstrap4 %}
{% block title %}Delete user{% endblock %}
{% block content %}






  <div>
    <div class="w-container">
      <div class="form-block w-form">
        <form action="{% url 'main:profile_delete' %}" method="post">
            {%csrf_token %}
          <h1 class="heading-2">Удалить аккаунт</h1>
          <div>Вы уверены что хотите удалить аккаунт безвозвратно?</div>
          <div class="div-block-12">
              <input type="submit"  value="Подтвердить"  class="submit-button-for-send w-button"></div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}