{% extends "layout/basic.html" %}
{% load bootstrap4 %}

{% block title %}Профиль{% endblock %}
{% block content %}
{% bootstrap_javascript jquery='slim' %}


  <div>
    <div class="w-container">
     <div class="div-block-button-settings"><a href="{% url "main:profile" %}" target="_blank" class="button-settings-none w-button">Профиль</a><a href="{% url "main:profile_change" %}" class="button-settings-none w-button">Настройки аккаунта</a><a href="{% url "main:password_change" %}" class="button-settings-active w-button">Изменить пароль</a></div>
<div id="content_profile">
        <div class="form-block w-form">
        <form action="{% url "main:password_change" %}" method="post">
            {% csrf_token %}
          <h1 class="heading-2">Сменить пароль</h1>
          <div>Введите свой новый пароль для Вашей учетной записи</div>
            <label for="name-4" class="field-label">Старый пароль</label>
            <input type="password" maxlength="256" name="old_password"  placeholder="Введите старый пароль" class="text-field w-input">
           <div class="invalid-feedback"></div>
            <label for="name-4" class="field-label">Новый пароль</label>
            <input type="password" maxlength="256" name="old_password1"  placeholder="Введите новый пароль"  class="text-field w-input">
            <label for="name-4" class="field-label">Подтвердить пароль</label>
            <input type="password" maxlength="256" name="old_password2" data-name="Name 3" placeholder="Введите подтверждение пароля" id="name-3" class="text-field w-input">
          <div class="div-block-35">
            <div class="text-block-27">{% bootstrap_form_errors form %}</div>
          </div>
            <div class="div-block-12"><input type="submit" value="Подтвердить" data-wait="Please wait..." data-w-id="7a152b2f-fef8-30db-1575-064511086eba" class="submit-button-for-send w-button"></div>
        </form>
      </div>
</div>
    </div>
  </div>






  <!--  <h2>Change password {{ user.name }}</h2>




<form method="post">
    {% csrf_token %}
{% bootstrap_form form layout='horizontal' %}
{% buttons submit='Change password' %}{% endbuttons %}

</form>-->
{% endblock %}