{% extends "layout/basic.html" %}
{% load bootstrap4 %}
{% block title %}Registration compleat{% endblock %}
{% block content %}


     <div class="success-message w-form-done">
          <div class="text-block-15">Спасибо! Ваша заявка успешно отправлена!</div>
         <a data-w-id="217eef70-cffa-58f1-8237-b14dbf83207a" href="{% url 'main:index' %}" class="submit-button-copy w-button">Вернуться на главную</a></div>





<h2>Registration new user</h2>
    <p>Registration compleat</p>
    <p>Massege was send by e-mail</p>
{% endblock %}