{% extends "layout/basic.html" %}
{% load bootstrap4 %}
{% block title %}Reset password{% endblock %}
{% block content %}



  <div>
    <div class="w-container">
      <div class="form-block w-form">
        <form action="{% url "main:password_reset" %}" method="post">
            {% csrf_token %}
          <h1 class="heading-2">Забыли пароль?</h1>
          <div>Введите свой адрес электронной почты, мы отправим вам ссылку для его сброса.</div><label for="name" class="field-label">Email</label>
            <input type="email" class="text-field w-input" maxlength="256" name="email" data-name="email" placeholder="Введите email" id="email">
            <a href="{% url "main:login" %}" class="link">Вернуться</a>
          <div class="div-block-12"><input type="submit" value="Отправить" data-wait="Please wait..." data-w-id="93ba45cc-8df1-80ad-13bc-78d16447c170" class="submit-button-for-send w-button"></div>
        </form>

          {% bootstrap_form_errors form %}

      </div>
    </div>
  </div>

{% endblock %}