<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Обратная связь{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">

</head>

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}

 <div class="panel panel-success">
  <div class="panel-heading">
    <h2 class="panel-title">Обратная связь</h2>
  </div>
  <div class="panel-body">
<div class="well well-lg">
    <h3></h3>
<form action="{% url 'main:contact' %}" method="post">
    {% csrf_token %}
{%csrf_token %}
{% bootstrap_form form layout='horizontal' %}
{% buttons submit="Send" %} {% endbuttons %}
</form>
  </div>
</div>
</div>





</body>
</html>