<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Успех{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">

</head>

{% load bootstrap4 %}

 <div class="panel panel-success">
  <div class="panel-heading">
    <h2 class="panel-title"></h2>
  </div>
  <div class="panel-body">
<div class="well well-lg" align="center">
    <h3>Спасибо, Ваше сообщение отправлено!</h3>
    <div align="center"><a href="/"><button type="button" class="btn btn-info">Вернутся на главную</button></a></div>
  </div>
</div>
</div>


</body>
</html>