{% extends "layout/basic.html" %}
{% load static %}
{% load humanize %}
{% block title %}
{{current_category.name }}
{% endblock %}


    {{current_category.img}}

{% block content %}

<div id="content1">

<div class="section">
    <div class="w-container">
      <div class="div-for-big-title"><img src="{{category.pk}}/media/{{current_category.img}}" loading="lazy" width="46" alt="">
        <h1 class="heading-main">{{current_category.name }}</h1>
      </div>
      <div class="text-block-4">{{count_vacancies}} объявлений</div>
    </div>
  </div>

</div>









      <div class="container w-container">
    <div id="change" class="div-block-16">

<a href="{% url 'main:index' %}" target="_blank" class="button w-button">Все</a>
           {% for category in categories %}

<a href="{% url 'main:by_category' category.pk %}" class="button button-active w-button">{{category.name}}</a>
          {% endfor %}
      </div>

      <div id="content">
 {% for vacancie in vacancies %}



      <a id="Card" data-w-id="a4a95af4-a82d-934f-ee9e-417a79bc1356" href="{% url 'main:vacancy' vacancie.pk %}" class="card w-inline-block">
       <div class="w-layout-grid grid"><img src="{{vacancie.img.url}}" loading="lazy" width="195" srcset="{{vacancie.img.url}} 500w, {{vacancie.img.url}} 800w, {{vacancie.img.url}} 1120w" sizes="(max-width: 479px) 74vw, 195px" id="w-node-417a79bc1358-2f7fc846" alt="" class="small-image-in-card">
          <div>
            <div class="date-time">{{ vacancie.published|naturalday:'F d' }}</div>
            <div class="title-main-div">
              <div class="title-main">{{vacancie.title}}<br></div>
            </div>
            <div class="category-div">
              <div class="text-block">{{vacancie.category }}</div>
            </div>
           <!-- <div class="div-block-7"><img src="{% static 'main/img/Line.svg'%}" loading="lazy" alt="" class="image-5"></div> -->
            <div class="parameters">
              <div class="div-block-for-location"><img src="{% static 'main/img/Geo.svg'%}" loading="lazy" width="30" alt="" class="image-in-card-small">
                <div class="text-block-small-in-card">{% if vacancie.location == '' %}Не указано{% else %}{{vacancie.location }}{% endif %}</div>
              </div>
              <div class="div-block-5-copy"><img src="{% static 'main/img/Calendar.svg'%}" loading="lazy" width="30" alt="" class="image-in-card-small">
                <div class="text-block-small-in-card">{% if vacancie.employment == '' %}Не указано{% else %}{{vacancie.employment }}{% endif %}</div>
              </div>
              <div class="div-block-5-copy"><img src="{% static 'main/img/Level.svg'%}" loading="lazy" width="30" alt="" class="image-in-card-small">
                <div class="text-block-small-in-card">{% if vacancie.skill == '' %}Не указано{% else %}{{vacancie.skill}}{% endif %}</div>
              </div>
            </div>
            <div class="div-block-4">
              <div class="price">

                  {% if vacancie.salary == '' %}Не указано{% else %}{{vacancie.salary}} ₽{% endif %}

                  </div>
            </div>
          </div>
        </div>
      </a>

{% endfor %}
      </div>
      </div>






























{% endblock %}
