{% extends "layout/basic.html" %}
{% load humanize %}
{% load static %}
{% block title %}

{{ vacancy.title }}

{% endblock %}


{% block content %}






    <div class="section">
    <div class="w-container">
      <div class="div-for-big-title-in-card">
        <h1 class="heading-for-card">{{vacancy.title}}</h1>
      </div>
      <div class="div-block-14">
        <div class="price">{% if vacancy.salary == '' or vacancy.salary == None %}Не указано{% else %}{{ vacany.salary|floatformat:0 }} ₽{% endif %}</div>
        <div class="text-block-4">{{ vacancy.published|naturalday:'F d' }}</div>
      </div>
    </div>
  </div>




  <div class="section-2">
    <div class="container-2 w-container"><a href="{% url 'main:index' %}" class="link-block w-inline-block"><img src="{% static 'main/img/Arrow-back.svg'%}" loading="lazy" data-w-id="290cc1cb-707c-9f09-08f3-ebe6a1ceeb5d" alt="" class="icon-back"></a>
      <div class="columns w-row">
        <div class="column w-col w-col-7 w-col-small-small-stack">
          <div class="parameters">
            <div class="div-block-for-location"><img src="{% static 'main/img/Geo.svg'%}" loading="lazy" width="30" alt="" class="image-in-card">
              <div class="text-block-in-card-header">{% if vacancy.location == '' %}Не указано{% else %}{{vacancy.location }}{% endif %}</div>
            </div>
            <div class="div-block-for-location-with-margin"><img src="{% static 'main/img/Calendar.svg'%}" loading="lazy" width="30" alt="" class="image-in-card">
              <div class="text-block-in-card-header">{% if vacancy.employment == '' %}Не указано{% else %}{{vacancy.employment }}{% endif %}</div>
            </div>
            <div class="div-block-for-location-with-margin"><img src="{% static 'main/img/Level.svg'%}" loading="lazy" width="30" alt="" class="image-in-card">
              <div class="text-block-in-card-header">{% if vacancy.skill == '' %}Не указано{% else %}{{vacancy.skill }}{% endif %}</div>
            </div>
          </div>
          <div class="div-block-for-description">
            <div class="title-big-in-description">Проффесиональные навыки</div>
            <div class="div-block-11">
                {% for v in vacancy.subcategores.all %}
              <div class="div-for-skills">
                <div class="text-block-5">{{ v }}</div><img src='../../media/{{v.img}}' loading="lazy" width="24" alt="" class="image-skill">
              </div>

                {% endfor %}


            </div>
          </div>
          <div class="div-block-for-description">
            <div class="title-big-in-description">Описание</div>
            <div class="description-text">{{vacancy.description}}</div>
          </div>

        {% if vacancy.requirements == '' or  vacancy.requirements == None %}
          {% else %}
          <div class="div-block-for-description">




            <div class="title-big-in-description">Требования</div>
            <div class="description-text">{{vacancy.requirements}}</div>
          </div>
        {% endif %}
{% if vacancy.tasks == '' or  vacancy.tasks == None  %}
          {% else %}

          <div class="div-block-for-description">
            <div class="title-big-in-description">Задачи</div>
            <div class="description-text">{{vacancy.tasks}}</div>
          </div>

        {% endif %}
{% if vacancy.terms == '' or vacancy.terms == None  %}
          {% else %}

          <div class="div-block-for-description">
            <div class="title-big-in-description">Условия</div>
            <div class="description-text">{{vacancy.terms}}</div>
          </div>
{% endif %}

        </div>
        <div class="column-2 w-col w-col-5 w-col-small-small-stack"><img src="{{vacancy.img.url}}" loading="lazy" width="195" alt="" class="small-image-in-card">
          <div>
            <div class="div-block-contcts">
              <div class="sub-information-title">Компания</div>
              <div class="sub-information-text">{{vacancy.company}}</div>
            </div>
            <div class="div-block-contcts">
              <div class="sub-information-title">Категория</div>
              <div class="sub-information-text">{{vacancy.category}}</div>
            </div>

                  {% if vacancy.email == '' or vacancy.email == None %}
          {% else %}
            <div class="div-block-contcts">


              <div class="sub-information-title">Контакты</div>
              <div class="sub-information-text">{{vacancy.email}}</div>
            </div>
              {% endif %}

          {% if vacancy.telegram == '' or vacancy.telegram == None %}
          {% else %}

            <div class="div-block-contcts">
              <div class="sub-information-title">Telegram</div>
              <div class="sub-information-text">{{vacancy.telegram}}</div>
            </div>

          {% endif %}
          </div>

          <div class="form-for-answer">
            <div class="div-block-8">
              <div id="coupon-field" class="link-form">{{vacancy.url}}</div><a class="coupon-btn link-block-2 w-inline-block"><img src="{% static 'main/img/Link-button.svg'%}" loading="lazy" data-w-id="7f2ad353-01f2-6607-6fb0-5573c4efc68d" alt="" class="link-button-in-card"></a></div>
            <div class="div-block-13"><a data-w-id="9bf2dde9-6162-3316-689e-4c161c15d4e4" href="{{vacancy.url}}" class="submit-button w-button">Ответить</a></div>
              <div class="copy-link">
              <div class="text-block-16 coupon-alert">Скопировано в буфер обмена</div>
            </div>
          </div>

      <!--  <div class="div-block-13">
            <div class="form-block-2 w-form">
              <div id="email-form"  class="form">
                <div class="div-block-8">
                  <div id="coupon-field" class="link-form">{{vacancy.url}}</div><a class="coupon-btn link-block-2 w-inline-block"><img src="{% static 'main/img/Link-button.svg'%}" loading="lazy" data-w-id="bd191b42-e86b-6851-34af-74b340128325" alt="" class="link-button-in-card"></a></div><a data-w-id="266bc4ea-d0ec-e6b7-b560-9f8ff450eb0e" href="#" class="submit-button w-button">Ответить</a></div>
                <div class="w-form-fail coupon-alert">
                <div>Скопировано в буфер обмена</div>
              </div>

            </div>
          </div> -->
        </div>
      </div>
    </div>

    <div class="div-block-18-copy">
      <div class="copy-link">
        <div class="text-block-16 coupon-alert">Скопировано в буфер обмена</div>
      </div>
      <div class="div-block-8">
        <div id="coupon-field" class="link-form">{{vacancy.url}}</div><a class="coupon-btn link-block-2 w-inline-block"><img src="{% static 'main/img/Link-button.svg'%}" loading="lazy" data-w-id="891e1445-1365-f083-accd-3794f2f01d37" alt="" class="link-button-in-card"></a></div>
    <div class="div-block-13"><a data-w-id="891e1445-1365-f083-accd-3794f2f01d39" href="{{vacancy.url}}" class="submit-button w-button">Ответить</a></div>
    </div>
  </div>







{% endblock %}
